@media (max-width:480px){
    .app-aside{
        left: -186px;
        transition: all 0.3s ease,
        width 0.3s ease;
    }
    .app-content{
        margin-left:0px;
    }
    .app.app-slidebar-toggled .app-aside{
        margin-left: 186px;
        width: 186px;
        transition: all 0.3s ease,
        width 0.3s ease;
    }
    .app.app-slidebar-toggled .app-content{
        margin-left: 0px;
    }
    .card{
        margin-top: 5px;
    }
    .app-footer{
        margin-left: 0px;
    }
    .app.app-slidebar-toggled .app-footer{
        margin-left: 0px;
    }
}
@media(min-width: 768px){
    .app-aside{
        width: 186px;
    }
    .app-footer{
        margin-left: 186px;
    }
    .app.app-slidebar-toggled .app-aside{
        left: -186px;
    }
    .app.app-slidebar-toggled .app-content{
        margin-left: 0px;
    }
    .app.app-slidebar-toggled .app-footer{
        margin-left: 0px;
    }
}