.app-aside{
    background-color:  darken(ghostwhite,3%);
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    overflow: auto;
    z-index: 10;
    margin-top: 58px;
    font-family: $font-family;
    transition: left 0.3s ease,
                width 0.3s ease;
    border-right: 1px solid $border-color;
    border-top: 1px solid $border-color;
    //box-shadow: 5px 7px 25px #999;
}
.app-menu{
    margin-top: 5px;
    margin-bottom: 0;
    list-style: none;
    padding: 0;
    //font-size: 20px;
    margin-left: 3px;
    margin-right: 3px;
}
.app-menu .nav-link > i{
    padding: 4px;
}
.app-menu .nav-link p {
    display: inline-block;
    margin: 0;
    padding: 4px;
  }
  .app-menu > .nav-item {
    margin-bottom: 0;
  }
.app-menu > .nav-item .nav-icon {
    font-size: 1.2rem;
    margin-right: .2rem;
    text-align: center;
    width: 1.6rem;
  }
.app-menu_item{
    display: flex;
    //font-size: 20px;
    background-color: darken($primary-hex,25%);
    border-radius: 2px;
    padding: 8px solid transparent;
    color:ghostwhite;

    &:hover,
    &:focus{
        text-decoration: none;
        background-color: #444;
        background-color: #165861e5;
        box-shadow: 2px 5px 20px #111;
        transform: translateY(-1px);
        border-radius: 2px;
        padding: 2px;
        color: $color;
    }
}